:root {
    --main-bg-color: #FFF9F2;
    --primary-text-color: #3D4461;
    --button-bg-color: #3FABF3;
    --paragraph-text-color: #555;
    --button-color: rgba(255, 88, 81, 1);

}

* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    background-color: var(--main-bg-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 5%;
    font-size: 1em;
    font-weight: 500;
    background: none;
}

.logo img {
    max-width: 100%;
    height: auto;
}

.nav-links {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.nav-links a {
    text-decoration: none;
    color: var(--main-bg-color);
    padding: 10px 15px;
    font-weight: 700;
}

.nav-links a:hover,
.right-links a:hover {
    background-color: var(--button-bg-color);
    border-radius: 10px;
    color: var(--main-bg-color);
}

.right-links .toggle-btn {
    display: none;
    font-weight: 700;
}

.right-links {
    display: flex;
    align-items: center;
    font-size: 1em;
    font-weight: 500;
}

.right-links a {
    text-decoration: none;
    color: var(--main-bg-color);
    margin-right: 15px;
    font-weight: 700;
    padding: 6px 15px;
    border: 1px solid var(--main-bg-color);
    border-radius: 10px;
}

.join-now-btn {
    padding: 8px;
    background-color: var(--button-bg-color);
    border: none;
    color: var(--main-bg-color);
    cursor: pointer;
    border-radius: 10px;
    font-weight: 700;
    font-size: 1em;

}

.join-now-btn:hover {
    background-color: var(--main-bg-color);
    cursor: pointer;
    color: var(--button-bg-color);
}

.toggle-btn {
    display: none;
    padding: 10px 15px;
}

.home-bg {
    background-image: url('../Images/background.png');
    height: 100vh;
}

.homeSection {
    max-height: 90vh;
    object-fit: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--main-bg-color);
}

.home-heading {
    padding-top: 5%;
    font-size: 3em;
    font-weight: 700;
    width: 75%;
    text-align: center;
}

.home-para {
    padding-top: 20px;
    text-align: center;
    max-width: 68%;
    font-size: 1.45em;
}

.home-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.home-buttons button {
    margin: 2% 0;
    margin-right: 2%;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    font-size: 0.9em;
    color: var(--main-bg-color);
    box-shadow: 0 2px 4px 0 var(--button-bg-color), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.home-buttons button:hover {
    cursor: pointer;
}

.home-buttons .home-btn1 {
    background-color: var(--button-color);
}

.home-buttons .home-btn2 {
    background-color: var(--button-bg-color);
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 10px 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--button-bg-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropdown:hover .dropdown-content {
    display: block;
}

.home-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
    margin-top: -10vh;
}

.home-card {
    width: 14em;
    height: 15em;
    padding: 16px;
    border-left: 5px solid rgba(43, 128, 255, 1);
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    margin: 10px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.25);
    z-index: 1;

}

.home-card img {
    display: block;
    padding-bottom: 5px;
}

.home-card-content {
    font-size: 1.22em;
    width: 90%;
    min-height: 50%;
}

.home-card-content p {
    color: rgba(43, 128, 255, 1);
}

.home-card-button {
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    border: 1px solid #FFF9F2;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.7em;
}

.home-card-button:hover {
    background-color: #FFF9F2;
    cursor: pointer;
    border: 1px solid rgba(43, 128, 255, 1);
}


.services-header {
    font-weight: bolder;
    font-size: 1.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2%;
}

.underlined {
    max-width: 100%;
    max-height: 100%;
}

.services .underlined {
    max-width: 100%;
    max-height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    max-width: 16vw;
    margin-bottom: 20px;
    padding: 12px 0px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
    display: flex;
    flex-direction: row;
    font-size: 0.7em;
    font-weight: 500;
    margin: 0 auto;
}

.card-header h1 {
    margin-left: 5px;
}

.card-img {
    width: 20px;
    height: 20px;
    align-self: center;
}

.card-para {
    font-size: 13px;
    color: var(--paragraph-text-color);
}

.services {
    padding-top: 1%;
}

.services-section {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.left,
.right {
    width: 20%;
}

.card1 {
    margin-left: 35%;
}

.card2 {
    margin-left: 20%;
}

.card3 {
    margin-left: 25%;
}

.card4 {
    margin-right: 35%;
}

.card5 {
    margin-right: 20%;
}

.card6 {
    margin-right: 25%;
}

.card8 {
    width: 50%;
}

.card img {
    margin: 0 auto;
}

.middle {
    width: 30%;
    align-items: center;
}

.middle-cards {
    display: flex;
    width: 100%;
}

.middle-img {
    margin-top: -10px;
    width: 100%;
    height: auto;
}

.btn-container {
    text-align: center;
}

.services-btn {
    margin: 0 auto;
    height: auto;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    font-size: 0.9em;
    font-weight: 500;
    background: var(--button-bg-color);
}

.services-btn:hover {
    cursor: pointer;
    color: var(--button-bg-color);
    background: var(--main-bg-color);
    border: 1px solid var(--button-bg-color);
}

.text {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.why-text {
    align-items: flex-start;
    justify-content: center;
    padding-left: 10%;
    width: 50%;
}

.why-container {
    width: 50%;
    text-align: end;
}

.about-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.heading {
    font-size: 3em;
    max-width: 60%;
}

.para {
    max-width: 75%;
    font-size: 1em;
    color: var(--primary-text-color);
    padding: 5px;
}

.image,
.about-image {
    max-width: 80%;
    height: auto;
}

.about-heading {
    max-width: 75%;
    font-size: 2em;
    font-weight: 900;

}

.about-image {
    border-radius: 25px;
}

.about-section {
    padding-top: 6%;
    margin-bottom: 30px;
}

.about-buttons {
    width: 75%;
}

.about-buttons button {
    margin: 2% 0;
    margin-right: 2%;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    font-size: 0.9em;
    color: var(--main-bg-color);
}


.about-buttons button:hover {
    cursor: pointer;
}

.about-buttons .about-btn1 {
    border: 1px solid rgba(255, 88, 81, 1);
    color: rgba(61, 68, 97, 1);
    background-color: var(--main-bg-color);
}

.about-buttons .about-btn2 {
    background-color: var(--button-bg-color);
}

.banner {
    margin-top: 5%;
    background: url("../Images/Banner.png");
    padding-left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    background-color: rgba(252, 238, 213, 1);
    background-repeat: no-repeat;
}

.banner-content {
    max-width: 95%;
}

.banner-head {
    font-size: 2.5em;
    font-weight: 700;
    color: rgba(255, 88, 81, 1);

}

.banner-text {
    font-size: 2em;
    font-weight: 500;
    color: rgba(61, 68, 97, 1);
}

.banner ul {
    font-size: 1em;
    color: rgba(255, 88, 81, 1);
    padding: 0 10%;
}

.banner-buttons {
    width: 75%;
    padding: 2% 10%;
}

.banner-buttons button {
    margin: 2% 0;
    margin-right: 2%;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    font-size: 0.9em;
    color: var(--main-bg-color);
}


.banner-buttons button:hover {
    cursor: pointer;
}

.banner-buttons .banner-btn1 {
    border: 1px solid rgba(61, 68, 97, 1);
    color: rgba(61, 68, 97, 1);
    background: rgba(252, 238, 213, 1);
}

.banner-buttons .banner-btn2 {
    background-color: rgba(61, 68, 97, 1);
}


h1 {
    margin: 50px 0 30px;
    text-align: center;
    color: rgba(61, 68, 97, 1);
}

.faqs-container {
    margin: 0 auto;
    max-width: 80%;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: rgba(61, 68, 97, 1);
}

.faq {
    background-color: transparent;
    /* background: #000; */
    /* border-top: 1px solid rgba(255, 88, 81, 1); */
    border-bottom: 1px solid rgba(255, 88, 81, 1);
    /* border-radius: 10px; */
    padding: 30px;
    position: relative;
    overflow: hidden;
    margin: 20px;
    /* width: 80%; */
    transition: 0.3s ease;
}


.faq.active::after,
.faq.active::before {
    /* color: #2ecc71; */
    content: '\f075';
    /* font-family: 'Font Awesome 5 Free'; */
    /* font-size: 7rem; */
    position: absolute;
    opacity: 0.2;
    top: 20px;
    left: 20px;
    z-index: 0;
}

.faq.active::before {
    color: #3498db;
    top: -10px;
    left: -30px;
    transform: rotateY(180deg);
}

.faq-title {
    margin: 0 35px 0 0;
}

.faq-text {
    display: none;
    margin: 30px 0 0;
    color: rgba(255, 88, 81, 1);
}

.faq.active .faq-text {
    display: block;
}

.faq-toggle {
    background-color: transparent;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 0;
    position: absolute;
    top: 30px;
    right: 30px;
    height: 30px;
    width: 30px;
}

.faq-toggle:focus {
    outline: none;
}

.faq.active .faq-toggle {
    background-color: #9FA4A8;
}

.faq-toggle .fa-times {
    display: none;
}

.faq.active .faq-toggle .fa-times {
    display: block;
}

.faq-toggle .fa-chevron-down {
    color: #83888E;
}

.faq.active .faq-toggle .fa-chevron-down {
    display: none;
}






@media screen and (max-width: 480px) {

    .social-panel-container.visible {
        transform: translateX(0px);
    }

    .floating-btn {
        right: 10px;
    }
}

@media screen and (max-width: 1200px) {
    .text {
        width: 50%;
        align-items: center;
    }

    .about-image-container {
        text-align: center;
    }

    .about-image {
        min-width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        min-width: 25vw;
        margin-bottom: 20px;
        padding: 12px 0px;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
    }

    .left,
    .right {
        width: 27%;
    }

    .middle {
        width: 45%;
        align-items: center;
    }

    .banner {
        background: rgba(252, 238, 213, 1);
        object-fit: cover;
        background-repeat: no-repeat;
        padding-left: 0px;
        margin-top: 0;
        margin-bottom: 0;
        overflow-x: hidden;
        padding: 5% 0;
    }

    .banner-content {
        min-width: 100%;
        text-align: left;
    }

    .banner-head {
        font-size: 2.5em;
        font-weight: 700;
        color: rgba(255, 88, 81, 1);
        padding-left: 10%;

    }

    .banner-text {
        font-size: 2em;
        font-weight: 500;
        color: rgba(61, 68, 97, 1);
        padding-left: 10%;
    }

    .banner ul {
        font-size: 1em;
        color: rgba(255, 88, 81, 1);
        padding-left: 20%;
    }

    .banner-buttons {
        padding-left: 20%;
    }

}

@media screen and (max-width: 992px) {
    .about-content {
        flex-direction: column;
    }

    .text {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about-heading {
        font-size: 1.8em;
        font-weight: 900;
        padding-top: 25px;
        min-width: 94%;
    }

    .about-image-container {
        text-align: center;
    }

    .about-buttons {
        min-width: 94%;
    }

    .para {
        font-size: 1.2em;
        color: var(--paragraph-text-color);
        padding: 5px;
        margin: 0;
        min-width: 94%;
    }

    .why-container {
        width: 100%;
        text-align: center;
    }

    .why-text {
        justify-content: center;
        max-width: 90%;
        overflow-x: hidden;
    }

    .faqs-container {
        max-width: 90%;

    }

    .faq {
        margin: 10px;
    }

}



@media screen and (max-width: 768px) {
    * {
        overflow-x: visible;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: var(--button-bg-color);
        z-index: 1;
        border-radius: 5px;
        padding: 15px 0;
    }

    .nav-links.show {
        display: flex;
    }

    .nav-links a,
    .dropdown {
        padding: 10px;
        text-align: center;
    }

    .dropdown-content {
        width: 100%;
    }

    .nav-links a:hover {
        background-color: var(--main-bg-color);
        color: var(--paragraph-text-color);
    }

    .right-links {
        margin-top: 10px;
        font-size: 15px;
        padding: 0px 4px;
    }

    .right-links .toggle-btn {
        display: block;
        font-size: 20px;
        cursor: pointer;
        background: none;
        border: none;
        color: var(--primary-text-color);
    }

    .homeSection {
        height: 80%;
    }

    .home-heading {
        font-size: 2em;
    }

    .home-para {
        font-size: 1em;
    }

    .services {
        padding-top: 0px;

    }

    .services-section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

    .left,
    .right,
    .middle {
        width: 100%;
    }

    .middle-img {
        margin: 0px auto;
    }

    .card {
        flex-direction: column;
        min-width: 80%;
        padding: 12px;
        align-self: center;
        align-items: center;
    }

    .middle-cards {
        flex-direction: column;
    }

    .card1,
    .card2,
    .card3,
    .card4,
    .card5,
    .card6,
    .card8 {
        margin: 20px auto;
    }

    .middle-img {
        margin: 0 auto;
    }

    .home-heading {
        font-size: 2em;
    }

    .home-para {
        padding: 10px;
        font-size: 1em;
    }

    .services-header {
        font-size: 1.3em;
    }

    .underlined {
        width: 80%;
        height: 80%;
    }


    .banner-head {
        font-size: 2em;
        padding-left: 5%;

    }

    .banner-text {
        font-size: 1.7em;
        padding-left: 5%;

    }

    .banner ul {
        font-size: 1em;
        padding-left: 10%;
    }

    .banner-buttons {
        padding-left: 10%;
    }


}


@media screen and (max-width: 556px) {

    .home-heading {
        min-width: 90%;

    }

    .logo {
        width: 6em;
    }

    .home-para {
        padding-top: 10px;
        min-width: 90%;
    }

    .home-buttons {
        flex-direction: column;
        font-size: 0.9em;
        padding-top: 10px;
        max-width: 90%;
    }

    .btn-container {
        text-align: center;
    }

    .services-btn {
        font-size: 0.9em;
    }




}

@media screen and (max-width: 400px) {
    .right-links {
        font-size: 0.6em;
    }

    .logo {
        width: 5em;
    }

    .home-heading {
        font-size: 1.8em;
    }

    .home-para {
        min-width: 90%;
    }

    .banner {
        margin-top: 0px;
    }

    .banner-head {
        font-size: 1.8em;
        padding-left: 5%;

    }

    .banner-text {
        font-size: 1.5em;
        padding-left: 5%;

    }

    .banner ul {
        font-size: 1em;
        padding-left: 10%;
    }
}